/* Основной фрейм */
.main_frame {
    width: 1170px;
    height: auto;
    margin: auto;

    position: relative;
}
/* Топбар */
.topbar {
    width: auto;
    height: 75px;

    position: relative;
}
.topbar_logo {
    height: 35px;
    width: 35px;

    position: absolute;
    top: 20px;
    left: 20px;
}
.topbar_title {
    font-family: "Montserrat";
    font-size: 15px;
    color: blue;

    height: auto;
    width: auto;

    position: absolute;
    margin: 0;
    top: 20px;
    left: 65px;
}
.topbar_under_title {
    font-family: "Montserrat";
    font-size: 12px;
    color: gray;

    height: auto;
    width: auto;

    position: absolute;
    margin: 0;
    top: 41px;
    left: 65px;
}
.topbar_aisle_select {
    height: 75px;
    width: 400px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    left: 280;
}
.topbar_aisle_button:hover {
    color: #3145ff;
}
.cart_logo {
    height: 25;
    width: 25;

    position: absolute;
    top: 26px;
    left: 1025px;
}

/* Описание сайта */
.frame1 {
    height: 350;
    width: 100%;

    position: absolute;
    top: 100;
}
.button1 {
    background-color: #e12b62;
    font-family: "Montserrat";
    font-size: 17px;
    color: white;
    text-align: center;
    line-height: 50px;
    box-shadow: 0px 4px 15px #e12b62;

    height: 50;
    width: 200;

    position: absolute;
    left: 25;
    top: 245;
}
.sneakers_bg {
    height: 350;

    position: absolute;
    right: 0;
}
.sneakers_img {
    height: 315;

    position: absolute;
    top: 95;
    right: 250;
}

/* Горячие постепления */
.frame2 {
    height: 570;
    width: 100%;

    position: absolute;
    top: 550;
}
.frame2_aisle_select {
    height: 45px;
    width: 475px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    left: 425;
}
.goods_display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    left: 0;
    right: 0;
    top: 75;
    bottom: 50;
}
.good_frame {
    box-shadow: 0px 10px 15px #3145FF12;

    width: 22.5%;
    height: 90%;

    position: relative;
}
.good_frame_title {
    position: absolute;
    margin: 0;
    height: 25;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 17px;
}
.good_frame_desc {
    position: absolute;
    margin: 0;
    bottom: 130px;
    height: 25;
    width: 100%;
    text-align: center;
    color: gray;
    font-family: 'Montserrat';
    font-size: 13px;
}
.good_frame_price_before {
    position: absolute;
    margin: 0;
    bottom: 60;
    height: 25;
    width: 100%;
    text-align: center;
    color: gray;
    font-family: 'Montserrat';
    font-size: 15px;
}
.good_frame_price_after {
    position: absolute;
    margin: 0;
    left: 20;
    bottom: 35;
    height: 25;
    width: 100%;
    color: #3145ff;
    font-family:
    'Montserrat';
    font-size: 18px;
}
.good_frame_img {
    position: absolute;
    top: 30px;
    left: 12.5%;
    width: 75%;
}

/* Новости */
.frame3 {
    height: 420;
    width: 100%;

    position: absolute;
    top: 1200;
}

/* Каталог товаров */
.frame4 {
    height: 1000;
    width: 100%;

    position: absolute;
    top: 1700;
}

/* Информация */
.frame5 {
    height: 250;
    width: 100%;

    position: absolute;
    top: 2750;
}

/* Нижняя часть */
.footer {
    width: 1170;
    height: 75;

    position: absolute;
}
.footer_logo {
    height: 35px;
    width: 35px;

    position: absolute;
    top: 20px;
    left: 20px;
}
.footer_title {
    font-family: "Montserrat";
    font-size: 15px;
    color: white;

    height: auto;
    width: auto;

    position: absolute;
    margin: 0;
    top: 20px;
    left: 65px;
}
.footer_under_title {
    font-family: "Montserrat";
    font-size: 12px;
    color: white;

    height: auto;
    width: auto;

    position: absolute;
    margin: 0;
    top: 41px;
    left: 65px;
}
.footer_aisle_select {
    height: 75px;
    width: 400px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    left: 280;
}